font-dpr($font-size)
  font-size: $font-size; /*no*/
  [data-dpr="2"] &
    font-size: $font-size * 2;  /*no*/
  [data-dpr="3"] &
    font-size: $font-size * 3; /*no*/
/*或者利用postcss-px2rem插件*/
fontDpr($font-size)
  font-size: $font-size * 2 /*px*/
    
border-1px($color)
  position: relative
  &:after
    position:absolute
    display: block
    left: 0
    bottom: 0
    width: 100%
    border-bottom: 1px solid $color
    content: ""

border-none()
  &:after
    display:none